body { display: grid; place-items: center; background: #121213; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
body { color: white; font-size: 22px; }
.img { text-align: center; }
img.lol { width: 125px; height: 125px; }
button { outline: none; border: none; padding: 10px; margin-top:20px; font-size: 20px; }